html,body{
	background-image: url(../img/nubes.png);
	background-repeat: no-repeat;
	background-position: center center ;
	background-size: cover;
	background-attachment: fixed;
}


#solucion{
	height: 100%;
	width: 80%;
	padding: 50px;
	border: solid orange 4px;
	border-radius: 6px;
	background-color: #2E64FE;
	-webkit-box-shadow: 28px 9px 56px 12px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 28px 9px 56px 12px rgba(0, 0, 0, 0.75);
	box-shadow: 28px 9px 56px 12px rgba(0, 0, 0, 0.75);
	margin: 0 auto;
	text-align: center;
}

#volver{
	background-color: orange;
	border: 3px solid black;
	padding: 30px;
	border-radius: 85px;
	font-size: 32px;
	font-weight: bold;
	box-shadow: 10px 10px 22px -1px rgba(0, 0, 0, 0.75);
	margin-top: 50px;
	width: 33%;
	margin-left: 33%;
	text-align: center;
}

.tituloacierto{
	color: #00FF00;
}
